<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Exhibition</th>
      <th>Publication</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.exhibition.year %></td>
        <td><%= article.exhibition.name %></td>
        <td><%= article.publication.name %></td>
        <td><%= article.title %></td>
        <td><%= link_to "EDIT", edit_article_path(article), class: "btn btn_primary" %></td>
      </tr>
    <% end %>
  </tbody>

<%= link_to "New article", new_article_path %>
